.env
.env.*
!.env.example

node_modules/
.next/
out/

logs/
*.log
temp/
tmp/
coverage/

private/uploads/
public/uploads/

*.bak
*.zip

.DS_Store
Thumbs.db

.vscode/
.idea/
.vercel
.env*

.env.neon

backup_mssql.js
lms_db_backup.json

migrate_to_neon.js
